name: Curl Example

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
      - name: Curl `hook`
        run: curl -s -X GET https://build.nathanwhyte.dev/health | xargs echo
