name: Curl Example

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
      - name: Curl `hook`
        run: 'curl -s -X POST -H "Authorization: Bearer token12345" https://build.nathanwhyte.dev/coach | xargs echo'
